html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;

}

main {
	height: 100%;
	width:100%;
	background: url(./images/background_cat.png);
	background-size: 100% 100%;

}

.landingImage {
	width: 100%;
	height: 100%;
	background-image: url("./images/view1.png");
	background-size: cover;
    background-repeat: no-repeat;
}

/*

		HEADER

*/

.header-container {
	width: 100%;
	height: 50px;
	background-color: #035d67;
	opacity: .9;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.header-container > a {
	position: relative;
	top: 30%;	
	text-decoration: none;
	color: #8eadae;

}
/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/

@-moz-document url-prefix() {
.header-container {
	width: 100%;
	-moz-box-sizing: border-box;
	}
}

#cancel {
	left: 15px;
	
}

#saved {
	float: right;
	right: 20px;
}

#title {
	width: 60px;
	color: #bfbfbf;
}

/*

		FOOTER

*/

.footer-container {
	width: 100%;
	height: 30px;
	background-color: #4c868f;
	position: fixed;
	bottom: 0;
}

.footer-container > a {
	position: relative;
	top: 15%;	
	width: 100px;
	text-decoration: none;
	color: #b2c8c7;
	display:block;
	margin: 0 auto;
}

#arrow {
	top: 38%;
	left: 47%;
}

/*

		ENTER LIST ITEMS

*/

ul
{
    list-style-type: none;
    padding:0px;
    width: 100%;
    margin-top: -21px;
}

.list-options-container {
	width:100%;
	height: 80px;
	margin-bottom: 0px;
	line-height: 30px;
}

.add {
	position: relative;
	left: 30px;
	top: 15px;

	cursor: pointer;
	
	width: 35%;
	height: 30px;

	color: #93cfd8;
	border-style:solid;
	border-width:5px;

	text-align: center;

	float: left;
}


.import {

	position: relative;
	right: 30px;
	top: 15px;
	float: right;

	cursor: pointer;
	
	width: 35%;
	height: 30px;

	color: #93cfd8;
	border-style:solid;
	border-width:5px;

	text-align: center;



}

.remove {
	float:right;
	position: relative;
	right: 5%;
	cursor: pointer;
}

li {
	position: relative;
	top: 10px;
}

input {
	border-style: none;
	font-size: 13px;
	position:relative;
	left: 5%;
	color: #8c8c8c;
	background: transparent;
    border: none;
    height: 30px;
}

hr {
	color: #9bbcbd;
	background-color: #9bbcbd;
	position:relative;
	text-align: center;
	width: 92%;
}

.store{
	position: relative;
    z-index: 1;
    height: 150px;
    margin-bottom: 10px;
    color: white;
}


.store h1  {
	position: relative;
	top: 100px;
	opacity: 1.0;
	font-size: 20px;
	font-weight: 200;

}
.store h2  {
	position: relative;
	top: 85px;
	opacity: 1.0;
	font-size: 15px;
	font-weight: 200;
}

.stores {
	position: absolute;
}

.filter {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -99;
}

.pie-container {
	float:right;
	font-size: 20px;
	font-weight: 200;
	
	border-radius: 5px 20px 5px;
  	background: #035d67;
  	opacity: .8;
	
	position: relative;
	top: 20px;
	right: 30px;
	width: 70px;
	
	text-align: center;

}

.items-label{
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 15px;
}

.items-in-stock {
	margin-top: 15px;
	margin-bottom: 0px;
}




